      .hoverbig {
        display: flex;
        justify-content: center;
        z-index: 1;
        position: absolute;
        top: 0px;
        left:0px;
      }
      .hoverbold {
        justify-content: center;
        font-weight: normal;
        z-index:2;
        position: absolute;
        left: 0.5em;
      }
      .hoverbold:hover {
        font-weight: bold;
      }
      .hovercolor {
        justify-content: center;
        color: #00FFFF;
      }
      .hovercolor:hover {
        color: #FF0000;
      }
      .hoverbgcolor {
        justify-content: center;
        background-color: #FFFFFF;
      }
      .hoverbgcolor:hover {
        background-color: #00FF00;
      }
      .hoverfont {
        justify-content: center;
        font-family: monospace;
      }
      .hoverfont:hover {
        font-family: fantasy;
      }
